html, body, #app, .mainContainer
  height: 100%
  margin: 0

body
  background-color: beige
  
main
  font-family: "Jetbrains Mono", system-ui
  height: 100%
  display: flex
  flex-direction: row
  
@import navbar
@import contentpane
@import button