@page "/"
@using RefreshApiClient
@inject RefreshClientService RefreshClient

<PageTitle>Home</PageTitle>

<h1>Refresh Website</h1>

<button @onclick="GetStatistics">Get Refresh Stats</button>

@if (_statisticsResponse != null)
{
    <p>Game Requests: @_statisticsResponse.Data?.RequestStatistics.GameRequests</p>
}
else
{
    <p>Click the button</p>
}

@code {
    StatisticsResponse? _statisticsResponse;
    
    private async Task GetStatistics() {
        _statisticsResponse = await RefreshClient.GetStatistics();
        StateHasChanged();
    }
}