@page "/stats"
@using RefreshApiClient
@using MagmaFE.Services
@using MagmaFE.Components
@inject RefreshClientService RefreshClient
@inject LoadingService LoadingService

<PageTitle>Home</PageTitle>

<h1>Statistics</h1>

<Button @onclick="GetStatistics">Get Refresh Stats</Button>

@if (_statisticsResponse != null)
{
    @foreach (var property in _statisticsResponse.Data.GetType().GetProperties())
    {
        var propertyValue = property.GetValue(_statisticsResponse.Data);
        if (propertyValue != null)
        {
            <p>@property.Name: @propertyValue</p>
        }
    }
}
else
{
    <p>Click the button</p>
}

@code {
    private StatisticsResponse? _statisticsResponse;

    private async Task GetStatistics()
    {
        LoadingService.IsLoading = true;
        _statisticsResponse = await RefreshClient.GetStatistics();


        LoadingService.IsLoading = false;
        StateHasChanged();
    }

}