@inherits LayoutComponentBase
@using MagmaFE.Components
<div class="mainContainer">
    <main>
        <div class="navBar">
            <Navbar/>
        </div>
        <div class="contentPane">
            @Body
        </div>
    </main>
</div>